.cart-align {
    align-items: flex-end;
  }
  
  .cart-card {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #181717;
    border-radius: 10px;
    background-color: #e7e1e1;
  }
  
  .cart-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .cart-details {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .cart-products {
    margin-top: 20px;
  }
  
  .cart-image {
    max-width: 100%;
    border-radius: 6px;
    margin-left: 0.5rem;
    height: auto;
  }
  
  .item-title {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 0.5rem;
  }
  
  .item-price {
    font-size: 1.25rem;
    display: flex;
    height: 100%; /* Ensure the height takes the full available space */
  }
  
  .input-box {
    width: 50px;
    padding: 5px;
    
  }
  
  .remove-btn {
    margin-top: 10px;
    
  }
  
  .total-price {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
 
  @media (max-width: 768px) {
    .cart-card {
      max-width: 95%;
    }
    
    .cart-heading {
      font-size: 1.2rem;
    }
  
    .item-title {
      font-size: 0.9rem;
    }
  
    .item-price {
      font-size: 0.9rem;
    }
  
    .input-box {
      width: 40px;
      padding: 4px;
    }
  
    .total-price {
      font-size: 1rem;
    }
  }
  
  /* Add more media queries as needed for other screen sizes */
  